/*
Colors used:
Primary Color (Black): #000f0f;
Secondary Color (Blue): #17324d;
Secondary Color (Light Blue): #a1d1dd;
Highlight Color (Orange): #e87356;
Background Color (Off White): #f0f0f0;
*/

body {
  background-color: #f0f0f0;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.1;
}
h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 2.0em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #17324d;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: ##21578d;
}
a:hover,
a:focus {
  color: #235e98;
  text-decoration: underline;
}
a:active { /* selected link */
  color: #e87356;
}
.button {
  display: inline-block;
  background-color: #17324d;
  color:#ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 2px;
  transition: 0.2s opacity;
}
.button:hover,
.button:active {
  color:#ffffff;
  opacity: 0.8;
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #17324d;
  text-transform: uppercase;
  border: 2px solid #17324d ;
}
.button.contact:hover,
.button.contact:active {
  background-color: #17324d;
  color: #ffffff;
}
.button.resume {
  background-color: transparent;
  color: #17324d;
  border: 2px solid #17324d ;
}
.button.resume:hover,
.button.resume:active {
  background-color: #17324d;
  color: #ffffff;
}
